<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Grouped GobFacts List
    </ion-title>

    <ion-button slot="end" class="ion-margin-end" (click)="closesession()">
      <ion-icon name="log-in-outline"></ion-icon>
    </ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

<ion-list *ngFor="let item of gobservice.activies | orderby : 'slug' ">
  <ion-list-header lines="inset">
    <ion-label>{{item.key}}</ion-label>
  </ion-list-header>
  <ion-item lines="none" *ngFor="let iteme of item.value">
    <ion-label color="primary">
      <p>ID: {{iteme._id}} </p>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
