<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Government information
    </ion-title>
    <ion-button slot="end" class="ion-margin-end" (click)="closesession()">
      <ion-icon name="log-in-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="card-background-page ion-padding">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> 

  <div *ngIf="flag">
    <ion-card *ngFor="let item of gobservice.activies" class="ion-margin-top" (click)="presentModal(item._id)">
      <img src="../../assets/images/banner-card.jpg"/>
      <div class="card-title">{{item.organization}}</div>
      <div class="card-subtitle">{{item.fact}}</div>
    </ion-card>
  </div>
  
  <div *ngIf="!flag">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

</ion-content>
