<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]='forma' (ngSubmit)="login()"> 
    <div>
      <ion-item>
        <ion-label position="floating"  >Email</ion-label>
        <ion-input type="email" formControlName="username"></ion-input>
      </ion-item>
      <span *ngIf="getEmailInvalid()">
        <ion-icon name="alert-circle"></ion-icon>
        Please enter your username
      </span>
    </div>

    <div class="ion-margin-top ion-margin-bottom">
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="pwd"></ion-input>
      </ion-item>
      <span *ngIf="getPwdInvalid()">
        <ion-icon name="alert-circle"></ion-icon>
        Please enter your password
      </span>
    </div>

    <div class="ion-margin-bottom ion-margin-top">
      <ion-button color="dark" type="submit"  class="ion-block-display ion-margin-botttom">
        Log in
      </ion-button>
    </div>
    
    
    
  </form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="register()" class="ion-margin-end margin-b">
    <ion-fab-button>
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
